* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: system-ui, sans-serif;
    /* Ensures full height compatibility across devices */
    min-height: 100dvh;
    letter-spacing: .05rem;
  }

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

#main-content {
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    align-items: center;
    gap: 4px;
}

button {
    font-size: 14px;
    font-family: system-ui, sans-serif;
    padding: 8px 12px;
    letter-spacing: .06rem;
    border-radius: 3px;
    background-color: rgba(228, 228, 228, 0.868);
    border: 1px solid rgb(129, 129, 129);
    color: rgb(0, 0, 0);
    cursor: pointer;
}  

button:hover {
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(133, 133, 133);
    color: rgb(45, 45, 45);
    cursor: pointer;
}

#dealer, #player {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    padding: 5px;
    margin: 2.8px;
}

#player-total, #dealer-total {
    font-size: 1.3rem;
}

#actions {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 12px 0;
}

#result {
    color: rgb(0, 0, 0);
    display: none;
    margin: 10px;
}

#playAgain {
    display: none;
}

#play {
    display: inline;
}

#instructions {
    display: none;
    flex-direction: column;
    max-width: 420px;
    padding: 24px 32px;
    margin: 4px 0;
    gap: 8px;
    align-items: center;
    background-color: rgb(227, 227, 227);
}

#instructions ul {
    padding: 7px 30px;
}

#buttons {
    margin: 6px 0;
}

#bank {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
    padding: 11px 20px;
    font-size: 1.1rem;
}

#bank .number {
    font-size: 1.5rem;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

#logo img {
    width: 69px;
}

#wallet-icon {
    width: 50px;
}

#chip-icon {
    width: 45px;
}

#bet-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 12px 0 18px 0;
}

#bet-selectors {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#bet-selectors button {
    font-size: 1.1rem;
    padding: 8px 15px;
}