@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, #19342B, #68867c);
    font-family: "Cal Sans", system-ui, sans-serif;
    /* Ensures full height compatibility across devices */
    min-height: 100dvh;
    letter-spacing: .09rem;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

h1 {
    font-size: 4rem;
    letter-spacing: .16rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
    letter-spacing: .1rem;
}

#main-content, #home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

#home-screen {
    gap: 10px;
}

/* Bet Selection and Selectors */

#bet-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 20px;
}

#bet-selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 23px;
    margin: 5px 0 3px 0;
}

#bet-selectors img {
    width: 65px;
    cursor: pointer;
}

#bet-selectors img:hover {
    transform: scale(1.2)
}

/* Player Actions like Hit or Stand */

#actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    margin: 12px 0;
}

#actions button {
    background-color: #000;
    color: #fff;
    font-size: 1.1rem;
    font-family: "Cal Sans", system-ui, sans-serif;
    min-width: 90px;
    min-height: 50px;
    padding: 8px 15px;
    letter-spacing: .06rem;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

/* Instructions and help icon */

#instructions {
    display: none;
    flex-direction: column;
    max-width: 600px;
    padding: 24px 32px;
    margin-top: 20px;
    gap: 8px;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#instructions ul {
    padding: 7px 30px;
}

#info-button {
    cursor: pointer;
    margin: 5px;
    width: 22px;
}

#info-button:hover {
    transform: scale(1.2);
}

/* Play Buttons Div, play and play again */

.play {
    background-color: #cb2222;
    color: #fff;
    font-size: 1.1rem;
    font-family: "Cal Sans", system-ui, sans-serif;
    padding: 14px 20px;
    letter-spacing: .06rem;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

#play-again-buttons {
    display: none;
    flex-direction: column;
    gap: 20px;
}

#change-bet {
    background-color: #2898c4;
    color: #fff;
    font-size: 1.1rem;
    font-family: "Cal Sans", system-ui, sans-serif;
    padding: 14px 20px;
    letter-spacing: .06rem;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

/* Main Logos */

#large-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 35px 0 8px 0;
}

    #large-logo img {
        width: 70px;
    }

#small-logo {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

    #small-logo img {
        width: 35px;
    }

/* Top Bar and Top bar buttons */

#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: black;
    min-height: 50px;
}

#top-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* Reset Wallet CTA */

#reset-wallet {
    display: none;
    background-color: #000;
    cursor: pointer;
}

/* Home Bank and Game Bank Sections (bet, wallet) */

#home-bank {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 14px;
}

#game-bank {
    display: none;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 12px 0;
}

.wallet-icon, .chip-icon {
    width: 58px;
}

#home-bank h3, #game-bank h3 {
    font-size: 2.7rem;
}

/* Game Table - Dealer vs Player */

#score-section {
    display: none;
    flex-direction: row;
    gap: 8px;
    padding: 2px 0 10px 0;
}

#dealer, #player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 5px;
    margin: 2px;
}

    #player-total, #dealer-total {
        font-size: 1.2rem;
        background-color: black;
        color: white;
        padding: 4px 7.5px;
    }

    #dealer-cards, #player-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3px;
        min-width: 400px;
        max-width: 410px;
    }

#result {
    color: rgb(255, 255, 255);
    display: none;
    margin-top: 6px;
    padding: 11px 15px;
    background-color: rgb(0, 0, 0);
}

    #result h2 {
        text-align: center;
        font-size: 1.8rem;
    }

/* Game screen rows */

#game-table-column-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
}

    #game-table-column-1 p {
        text-align: center;
        font-size: .85rem;
    }

#game-table-column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    min-width: 340px;
}

#game-table {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 20px;
}

/* Card images */

.card {
    width: 74px;
    padding: 1px 0;
}

    .card:hover {
        transform: scale(1.37);
    }

/* Button transforms */

.play:hover, #change-bet:hover, #reset-wallet:hover, #actions button:hover {
    transform: scale(1.1)
}

/* Ace change msg, bet too low msg, wallet too low msg - fades */

#ace-change-msg {
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease;
}

    #ace-change-msg.fade-in {
        opacity: 1;
    }

    #ace-change-msg.fade-out {
        opacity: 0;
    }


#low-bet, #low-wallet {
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease;
}

    #low-bet.fade-in, #low-wallet.fade-in {
        opacity: 1;
    }

    #low-bet.fade-out, #low-wallet.fade-out {
        opacity: 0;
    }

@media screen and (max-width: 960px) {
    #dealer-cards, #player-cards {
        min-width: 280px;
        max-width: 315px;
    }

    #game-table-column-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        gap: 10px;
    }
    
        #game-table-column-1 p {
            text-align: center;
            font-size: .85rem;
        }
    
    #game-table-column-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        gap: 18px;
        max-width: 200px;
    }
}